.window {
    width: 100%;
    position: fixed;
    z-index: 10000 !important;
    translate: -50% 0;
    left: 50%;
    top: 5rem;
    background: #EED5D0;
    transition: 1s;
    display: flex;
    align-items: start;
    overflow: hidden;
    justify-content: center;
}

.formwind {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
}

.formwind>div {
    width: 100%;
    min-height: 100%;
    background: #EED5D0;
}

.formwind .gallery2 {
    gap: 2rem;
    position: relative;
    top: 44.5rem;
    padding: 4vw 4vw 2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.box {
    overflow: hidden;
    height: 30rem !important;
    width: 43vw;
    display: flex;
    justify-content: center;
    border: .5rem solid #4F5501;
    align-items: center;
}

.box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:first-of-type {
    align-items: start;
}


.box:last-of-type {
    width: 100%;
}

.about2 {
    width: 100%;
    position: relative;
    height: min-content;
}

.about2 .text {
    position: relative;
    text-align: center;
    height: min-content;
    padding: 0 20vw 1rem;
    top: 5rem;
}

.pricelist2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0rem;
    padding: 3rem 5vw 3rem;
}

.pricelist2 ul {
    width: 46%;
}

.pricelist2 ul h3 {
    gap: 2rem;
    font: 2rem system-ui;
}


@media only screen and (max-width: 800px) {
    .box {
        width: 100% !important;
        border: none;
        border-right: .5rem solid #4F5501;
        border-left: .5rem solid #4F5501;
    }

    .box:first-of-type {
        align-items: start !important;
    }

    .about2 {
        height: 260%;
        padding-top: 1rem;
    }

    .about2 .text {
        top: 26.5rem !important;
    }

    .pricelist2 {
        gap: 3rem;
        top: 10rem;
    }

    .pricelist2 ul {
        width: 100%;
    }

    .formwind .gallery2 {
        top: 98rem !important;
    }
}
@media only screen and (max-width: 450px) {
    .pricelist2 ul li {
        font: .8rem system-ui;
    }
}